@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
@import '_variables.scss';

body {
    background-color: $purple;
    font-family:'Merriweather';
    font-size: 62.5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $purple;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $purple;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $purple;
}

.ease{
  -webkit-transition:all .2s ease-out;
  -moz-transition:all .2s ease-out;
  -ms-transition:all .2s ease-out;
  -o-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    padding:0 15px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.error__message {
  color: #FFF;
  background: $error;
  padding: 2%;
  margin: 0 2%;
  font-size: .8rem;
}

@media only screen and (max-width: 768px) {
  .error__message {
    margin: 0 auto;
    width: 252px;
    font-size: .7rem;
  }
}