<template>
    <div class="container">
        <Search/>
        <ProductsList/>
    </div>
</template>

<script>
    import Search from '../search/search.vue'
    import ProductsList from '../productsList/produtsList.vue'
    export default {
        name: 'Home',
        data(){
            return {

            }
        },
        components: {
            Search,
            ProductsList
        }
    }
</script>