<template>
    <div>
        <ul class="products">
            <li class="products__item ease" v-for="product in filteredItems" :key="product.id">
                <img class="products__image" src="https://media-cdn.tripadvisor.com/media/photo-s/09/f4/fe/38/horizontal.jpg"/>
                <div class="products__infoContainer"> 
                    <div>
                        <h2 class="products__name">{{product.first_name}}</h2>
                    </div>
                    <div class="products__infoBottom">
                        <label class="products__price">${{product.id}}</label>
                        <button class="products__addOrder ease">Add to my order</button>
                    </div>
                </div>
            </li>
        </ul>
        <h2 class="error__message" v-show="filteredItems.length <= 0">No results found.</h2>
    </div>
</template>

<script>
    export default {
        name: 'ProductsList',
        data() {
            return {
                products: [],
            }
        },
        mounted() {
            this.listProducts();
        },
        computed: {
            filteredItems() {
                return this.products.filter(item => {
                    return item.first_name.toLowerCase().indexOf(this.$store.getters.filter.toLowerCase()) > -1
                })
            }
        },
        methods: { 
            listProducts() { //simulating some "real" request
                this.$store.dispatch('listProducts', {

                })
                .then(response => { 
                    this.products = response.data.data;
                })
            }
        }
    }
</script>

<style scoped lang="sass">
    @import '../../styles/_variables.scss';
    @import './productsList.scss';
</style>