.products {
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex-basis: 30%;
        margin:0 auto 4%;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.36);
        -moz-box-shadow:    0px 0px 17px 0px rgba(0, 0, 0, 0.36);
        box-shadow:         0px 0px 17px 0px rgba(0, 0, 0, 0.36);
    }
    &__image {
        max-width: 100%;
    }
    &__infoContainer {
        background: $white;
        padding:0 5%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__name {
        font-size: 1.2rem;
        color:#000;
        font-weight: bold;
    }
    &__infoBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        color:$purple;
        font-size: .8rem;
        font-weight: 500;
    }
    &__addOrder {
        border:0;
        background: none;
        color:$purple;
        outline:none;
        cursor: pointer;
        font-size: .8rem;
        &:hover {
            background: $purple;
            color:$white;
            padding:1px 10px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .products {
        &__item {
            flex-basis: 46%;
            margin: 0 auto 5%;
        }
        &__infoContainer {
            height: 90px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .products {
        flex-direction: column;
        &__item {
            flex-basis: 100%;
            max-width: 270px;
            margin:0 auto 4%;
        }
        &__infoContainer {
            height: 80px;
        }
        &__name {
            font-size: 1rem;
        }
    }
}