<template>
    <div class="header">
        <h1 class="header__title">North Athlantic Coffee</h1>
        <input class="header__input" type="text" placeholder="Search" v-model="search" @input="setSearch()"/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: ''
        }
    },
    methods: {
        setSearch() {
            this.$store.dispatch('filterProducts', {
                search: this.search
            })
        }
    }
}
</script>

<style lang="scss">
    @import '../../styles/_variables.scss';
    @import './search.scss';
</style>