.header {
    padding: 5% 2%;
    display: flex;
    flex-wrap:wrap;
    &__title {
        color:$white;
        font-size: 1.6rem;
        font-weight: bold;
    }
    &__input {
        border:0;
        outline-color: transparent;
        padding:1% 2%;
        color:$purple;
        font-size: .8rem;
        min-width: 28%;
        font-weight: 600;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        &__title {
            margin-bottom:3%;
            font-size: 1.5rem;
        }
        &__input {
            font-size: .7rem;
            min-width: auto;
            width: 252px;
            padding:2%;
        }
    }
}